body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    /* background-color: #4C362D; */
    background-color: var(--bs-body-color);
    color: white;
}

html {
    scroll-behavior: smooth;
}

input {
    border-radius: 0px !important;
}

a {
    color: white;
    text-decoration: none;
}

.spaceMono {
    font-family: monospace, sans-serif;
}

.mouseEffect {
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    transition: transform 0.5s ease;
}

.mouseEffect:hover {
    z-index: 1;
    opacity: 1;
    transform: scale(1.1);
}